<form (ngSubmit)="onSubmit($event)" [formGroup]="form" class="center">
  <h1>Edit Post</h1>

  <mat-form-field *ngIf="userIsAuthor()" appearance="fill">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Categories</mat-label>
    <mat-select [compareWith]="compareCategory" formControlName="categories" multiple>
      <mat-option *ngFor="let category of categoryList" [value]="category">{{category.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="userIsAuthor()">
    <ckeditor [editor]="Editor" formControlName="content" style="min-height: 50vh; min-width: 80vw"></ckeditor>
  </ng-container>

  <ng-container *ngIf="!userIsAuthor()">
    <!--    message that the user may not see all options-->
    <div class="center alert alert-warning" role="alert">
      <p>Some options may be hidden because you are not the author of this post.</p>
    </div>
  </ng-container>

  <!--  submit-->
  <button [disabled]="form.invalid" color="primary" mat-raised-button type="submit">Submit</button>
</form>
