<div class="h-100 flex flex-col justify-between bg-slate-800">
  <div class="mt-lg-4">
    <span routerLink="/" class="cursor-pointer">Daily Link</span>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div
    *ngIf="authService.isLoggedIn()"
    class="mt-auto flex flex-row justify-evenly footer"
  >
    <button routerLink="/home">
      <fa-icon size="2x" [icon]="faHome"></fa-icon>
    </button>
    <button routerLink="/post/create">
      <fa-icon size="2x" [icon]="faAdd"></fa-icon>
    </button>
    <button routerLink="/@{{ authService.getUsername() }}">
      <img
        *ngIf="user"
        class="rounded-circle h-12"
        src="{{ user.profilePictureURL }}"
      />
    </button>
    <!-- <p>{{ authService.getUsername() }}</p> -->
    <!-- <button
      (click)="authService.logout()"
      class="example-icon logout-icon"
      aria-label="button with lgout icon"
    >
      <span>icon logout</span>
    </button> -->
  </div>
</div>
