<mat-toolbar *ngIf="authService.isLoggedIn()">
  <span routerLink="/" style="cursor: pointer">Project Template</span>
  <span class="example-spacer"></span>
  <button mat-icon-button routerLink="post/create" matTooltip="Create Post" style="background-color: lightblue">
    <mat-icon>add</mat-icon>
  </button>
  <div style="margin-left: 10px"></div>
  <button mat-button [matMenuTriggerFor]="categoryMenu" *ngIf="authService.getRoles().includes('ROLE_ADMIN')">Categories</button>
  <mat-menu #categoryMenu="matMenu">
    <button mat-menu-item routerLink="category/create">Add Category</button>
    <button mat-menu-item routerLink="category/edit">Edit Category</button>
    <button mat-menu-item routerLink="category/delete">Delete Category</button>
  </mat-menu>
  <span class="example-spacer"></span>
  <p style="margin: 0">{{authService.getUsername()}}</p>
  <button (click)="authService.logout()" mat-icon-button class="example-icon logout-icon" aria-label="button with lgout icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
