<div class="h-100 flex flex-col justify-between bg-slate-800">
  <div>
    <span routerLink="/" class="cursor-pointer">Daily Link</span>
    <router-outlet></router-outlet>
  </div>
  <div
    *ngIf="authService.isLoggedIn()"
    class="mt-auto flex flex-row justify-evenly"
  >
    <button routerLink="/home">home-icon</button>
    <button routerLink="/post/create">
      <span>add-icon</span>
    </button>
    <button routerLink="/@{{ authService.getUsername() }}">
      <span>profile-icon</span>
    </button>
    <!-- <p>{{ authService.getUsername() }}</p> -->
    <!-- <button
      (click)="authService.logout()"
      class="example-icon logout-icon"
      aria-label="button with lgout icon"
    >
      <span>icon logout</span>
    </button> -->
  </div>
</div>
