<div style="text-align: center" class="centered">
  <div (click)="backToLogin()" style="z-index: 1; cursor: pointer">
    <span
      aria-hidden="false"
      aria-label="Back to Login"
      style="position: absolute; top: 10px; left: 10px; font-size: 2em"
      >arrow_back</span
    >
  </div>
  <form [formGroup]="form">
    <br />
    <div>
      <label>Email</label>
      <input name="email" formControlName="email" type="email" matInput />
    </div>
    <br />
    <div>
      <label>Username</label>
      <input name="username" formControlName="username" matInput />
      <span>Minimum <strong>3</strong> characters</span>
      <span>Maximum <strong>20</strong> characters</span>
    </div>
    <br />
    <div appearance="fill">
      <label>Password</label>
      <input
        name="password"
        formControlName="password"
        matInput
        [type]="passwordVisible ? 'text' : 'password'"
      />
      <button
        type="button"
        (click)="passwordVisible = !passwordVisible"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="!passwordVisible"
      >
        <span>{{ passwordVisible ? 'visibility' : 'visibility_off' }}</span>
      </button>
      <span>Minimum <strong>8</strong> characters</span>
    </div>
    <br />
    <button type="submit" (click)="signup()">Signup</button>
  </form>
</div>
