<div *ngIf="user; else loading" class="profile-container">

  <div class="image-container">
    <img alt="profile image" id="profile-picture" src="{{user.profilePictureURL}}"/>
  </div>

  <h1>
    <span class="username">@{{user.username}}</span>
  </h1>

  <!--  User posts here... -->
</div>
<ng-template #loading>
  <div class="loading">
    <h1>Loading...</h1>
  </div>
</ng-template>

<div class="profile-feed" *ngIf="posts.length > 0; else noPosts">
  <div class="profile-feed-item" *ngFor="let post of posts">
    <div>
      <h2>{{post.content | truncate:20}} </h2>
      <div [innerHTML]="post.content | truncate:100"></div>
      <p>{{getRelativeDate(post.createdAt)}} </p>
    </div>
  </div>
</div>

<ng-template #noPosts>
  <div class="no-posts">
    <h1>No posts yet... 😿</h1>
  </div>
</ng-template>
