<form (ngSubmit)="onSubmit()" [formGroup]="form" class="center">
  <h1 class="mb-4">Create New Post</h1>

  <div class="container">
    <ckeditor
      [editor]="Editor"
      formControlName="content"
      style="min-height: 50vh; min-width: 80vw; color: black"
      [config]="{
        toolbar: [
          'heading',
          'bold',
          'italic',
          'underline',
          'NumberedList',
          'BulletedList',
          'SpecialChar'
        ]
      }"
    ></ckeditor>
    <br />
    <input
      class="form-control"
      type="file"
      id="formFile"
      formControlName="media"
      (change)="onFileSelected($event)"
    />
  </div>

  <!--  submit-->
  <button
    class="btn btn-primary mt-lg-4"
    type="submit"
    [disabled]="form.invalid"
  >
    Submit
  </button>
</form>
