<form (ngSubmit)="onSubmit()" [formGroup]="form" class="center">
  <h1>Create New Post</h1>

  <div class="container">
    <ckeditor [editor]="Editor" formControlName="content" style="min-height: 50vh; min-width: 80vw" [config]="{ toolbar: [ 'heading', 'bold', 'italic', 'underline', 'NumberedList', 'BulletedList', 'SpecialChar' ]}"></ckeditor>
    <br>
    <input class="form-control" type="file" id="formFile" formControlName="media" (change)="onFileSelected($event)">
  </div>

  <!--  submit-->
  <button [disabled]="form.invalid" color="primary" mat-raised-button type="submit">Submit</button>
</form>