<div *ngIf="post.id !== 0" id="container">
  <div id="details">

    <h2>Details</h2>
    <table class="metadata">
      <tr>
        <td>Author</td>
        <td>{{post.author.username}}</td>
      </tr>
      <tr>
        <td>Created At</td>
        <td>{{getFormattedDate(post.createdAt)}} ({{getRelativeDate(post.createdAt)}})</td>
      </tr>
      <tr>
        <td>Updated At</td>
        <td>{{getFormattedDate(post.updatedAt)}} ({{getRelativeDate(post.updatedAt)}})</td>
      </tr>
      <tr>
        <td>Categories</td>
        <td id="categories">
          {{getCategoryNames()}}
        </td>
      </tr>
    </table>

    <button mat-raised-button color="primary" (click)="editPost()" *ngIf="canModify()">Edit</button>
    <button mat-raised-button color="warn" (click)="deletePost()" *ngIf="canModify()">Delete</button>

  </div>
  <div id="content">
    <h1 id="title">{{post.title}}</h1>
    <div [innerHTML]="getPostContent()"></div>
  </div>
</div>
