<div class="content-wrapper">
    <div class="post-header">
        <div class="avatar">
            <img class="author-avatar" width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT60MyBMkcLfLBsjr8HyLmjKrCiPyFzyA-4Q&usqp=CAU" alt="Posts author profile picture">
        </div>
        <div class="author-information">
            <h3 class="author-name">_xo_AnnA_xo_ * 52 mins ago </h3>
        </div>
    </div>
    <div class="content">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas facere excepturi ipsa! Libero, sint temporibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, libero at eos vel repudiandae neque molestias. Inventore accusantium dolores omnis?</p>
    </div>
    <div class="media">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDs26yq9fb7ovRn5L3mbHg2GEn-6FK1ZUVLA&usqp=CAU" alt="Attached media">
    </div>
    <div class="post-footer">
        star icon, etc.
    </div>
</div>
