.content-wrapper {
  /*background-color: lightslategrey;*/
  display: flex;
  flex-direction: column;
  margin-right: .5em;
  margin-left: .5em;
  margin-bottom: 1em;
  padding: 1em 2em 1.5em;
}

.author-avatar {
  border-radius: 100px;
  padding-right: 1em;
}

.avatar {
}

.author-information {
  /*background-color: plum;*/
  position: relative;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.post-header {
  display: flex;
  padding-bottom: 20px;
  /*background-color: magenta;*/
}

.post-footer {
  font-size: 15pt;
}

.media {
  /*background-color: lime;*/
  justify-content: center;
}

.media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  /*background-color: lightyellow;*/
}

.liked {
  filter: invert(26%) sepia(85%) saturate(7365%) hue-rotate(358deg) brightness(95%) contrast(124%);
}
