<form [formGroup]="form" (ngSubmit)="onSubmit()" class="center">
  <h1>Create New Category</h1>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input matInput formControlName="color"/>
  </mat-form-field>

  <app-category-pill [category]="getPreviewCategory()"></app-category-pill>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
</form>
