.content-wrapper {
    background-color: lightgreen;
    display: flex;
    flex: 1;
    flex-direction: column;
    
}



.feed-wrapper {
    background-color: lightcoral;
}

.trending-list-wrapper {
    background-color: lightseagreen;
}