
<div class="content-wrapper">

<!-- fetching posts -->
<div class="feed-wrapper">
    <div class="feed-content">
        <div class="test" *ngFor="let post of allPosts">
            <dl-post-card [post]="post"></dl-post-card>
        </div>
        <p>Posts here</p>
    </div>
</div>

<!-- fetching posts -->
<div class="trending-list-wrapper">
    <div class="trending-list-content">
        <ul>
            <li>Cool cat pictures</li>
            <li>Cool cat pictures</li>
            <li>Cool cat pictures</li>
            <li>Cool cat pictures</li>
        </ul>
    </div>
</div>
</div>
