
<div class="content-wrapper">
<!-- Search -->
<div class="search">
    <mat-form-field appearance="fill" style="width: 50vw">
      <mat-label>Search Trending Topics ...</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

<!-- fetching posts -->
<div class="feed-wrapper">
    <div class="feed-content">
        <p>Posts here</p>
        <dl-post-card></dl-post-card>
    </div>
</div>

<!-- fetching posts -->
<div class="trending-list-wrapper">
    <div class="trending-list-content">
        <ul>
            <li>Cool cat pictures</li>
            <li>Cool cat pictures</li>
            <li>Cool cat pictures</li>
            <li>Cool cat pictures</li>
        </ul>
    </div>
</div>
</div>
